*.o
*~
.deps
Makefile
Makefile.in
VERSION
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
simunvacation
simvacation
simvacreport
stamp-*
